[Unit]
Description=IOTA FullNode
After=network-online.target

[Service]
WorkingDirectory=/var/lib/iri/target
EnvironmentFile=-/etc/sysconfig/iri
ExecStart=/usr/bin/java -Xmx${JAVA_MEM} -jar iri-${IRI_VERSION}.jar -p ${IRI_PORT} -n "${IRI_NEIGHBORS}" ${IRI_OPTIONS} --remote-limit-api "${REMOTE_LIMIT_API}"
TimeoutStopSec=15
Restart=on-failure
RestartSec=10
Type=simple
User=iri

[Install]
WantedBy=multi-user.target